// Declaración de las variables, que contendrán los colores base de la página
$color1: white;
$color2: #ADD8E6; // Azul claro
$color3: #000080; // Azul marino

// Función para pintar el fondo de color azul claro
@mixin pintarFondo() {
    background-color: $color2;
}

// Función para pintar los bordes de color azul oscuro
@mixin pintarBorde() {
    border-bottom: 1px solid $color3;
}

// Función para que el texto se vea de color azul oscuro 
@mixin pintarLetra() {
    color: $color3;
}

// Función para que las cards se vean de color blanco con texto azul claro y borde azul oscuro
@mixin pintarCard() {
    background-color: $color1;
    color: $color2;
    border: 1px solid $color3;
}

// Función para que los botones tengan un color de fondo blanco con texto azul oscuro 
@mixin pintarBotones() {
    background-color: $color1;
    color: $color3;
}
