body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: white;
    color: black;
    padding: 20px;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 70px;
    left: 0;
    background-color: white;
    color: #333;
    padding-top: 20px;
}

.sidebar h2 {
    text-align: center;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    text-align: center;
}

.sidebar ul li button {
    background-color: transparent;
    border: none;
    color: #333; /* Cambia el color del texto de los botones en la barra lateral */
    cursor: pointer;
    font-size: 16px;
    padding: 5px 10px;
    width: 100%; /* Ancho completo para llenar el contenedor */
}

/* Estilos del contenido principal */
.content {
    margin-left: 250px; /* Ancho de la barra lateral */
    padding: 20px;
}